{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
    <h1 class="mb-4 text-center fw-bold text-primary" style="letter-spacing:1px;">Créer un nouveau contact</h1>

    {{ include('contact/_form.html.twig') }}

    <a href="{{ path('app_contact_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
